extends inc/layout.pug 

block title 
    title Inheritance 
block content 
    header
        h1 Inheritance 
    section
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque ratione molestias inventore autem enim. Odit, debitis pariatur quasi, et impedit molestiae, aperiam nisi laudantium nulla praesentium sed quod necessitatibus!